# Other specifically hidden files
*.hide

# Unecessary
src/dreamindex.egg-info
src/dreamindex/logs/*.log
.idea/
src/__pycache__/
*.pyc

# Privacy
src/dreamindex/databases/*
!src/dreamindex/databases/test_database.db
!src/dreamindex/databases/test_database.db-journal