<!-- This is the component collection file.
All components should be written in this file in the following form:

    {% macro newComponent(arg) -%}
      <div class='container'><p>{{arg}}</p></div>
    {%- endmacro %}

and can be called using

    {{ newComponent('arg value') }}

-Refer to https://stackoverflow.com/questions/15106741/parameterized-reusable-blocks-with-jinja2-flask-templating-engine
-->

{% macro topBar() -%}
    <img src="/static/logo.png" alt="logo" />
    <a href="/rand/dream">随机梦境</a>
    <a href="/rand/fanart">随机二创</a>
    {{ searchBar() }} <!-- TODO -->
    <a href="/new/dream">创建梦境</a>
    {{ userIcon(userId) }} <!-- TODO -->
{%- endmacro %}

{% macro pallete() -%}
    <!-- TrendA (Group) -->
    <div id="u32" class="ax_default" data-label="TrendA" data-left="40" data-top="316" data-width="955" data-height="434">

        <!-- Unnamed (Rectangle) -->
        <div id="u33" class="ax_default paragraph">
          <div id="u33_div" class=""></div>
          <div id="u33_text" class="text ">
            <p><span>精选梦境</span></p>
          </div>
        </div>

        <!-- Trend2 (Group) -->
        <div id="u34" class="ax_default" data-label="Trend2" data-left="525" data-top="363" data-width="470" data-height="186">

          <!-- Unnamed (Group) -->
          <div id="u35" class="ax_default" data-left="525" data-top="363" data-width="470" data-height="186">

            <!-- Unnamed (Group) -->
            <div id="u36" class="ax_default" data-left="525" data-top="363" data-width="470" data-height="186">

              <!-- Unnamed (Rectangle) -->
              <div id="u37" class="ax_default shape">
                <div id="u37_div" class=""></div>
                <div id="u37_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u38" class="ax_default paragraph">
                <div id="u38_div" class=""></div>
                <div id="u38_text" class="text ">
                  <p><span>梦到追杀一条鳄鱼，可能是短吻鳄吧，弄不清...</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u39" class="ax_default paragraph">
                <div id="u39_div" class=""></div>
                <div id="u39_text" class="text ">
                  <p><span>这是x年x月x日的故事，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，...</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (Group) -->
          <div id="u40" class="ax_default" data-left="545" data-top="506" data-width="261" data-height="22">

            <!-- Unnamed (Group) -->
            <div id="u41" class="ax_default" data-left="545" data-top="509" data-width="64" data-height="18">

              <!-- Unnamed (Shape) -->
              <div id="u42" class="ax_default icon">
                <img id="u42_img" class="img " src="images/1_首页/u42.svg"/>
                <div id="u42_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u43" class="ax_default paragraph">
                <div id="u43_div" class=""></div>
                <div id="u43_text" class="text ">
                  <p><span>999+</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u44" class="ax_default" data-left="618" data-top="506" data-width="61" data-height="21">

              <!-- Unnamed (Shape) -->
              <div id="u45" class="ax_default icon">
                <img id="u45_img" class="img " src="images/1_首页/u45.svg"/>
                <div id="u45_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u46" class="ax_default paragraph">
                <div id="u46_div" class=""></div>
                <div id="u46_text" class="text ">
                  <p><span>280</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u47" class="ax_default" data-left="746" data-top="507" data-width="60" data-height="21">

              <!-- Unnamed (Shape) -->
              <div id="u48" class="ax_default icon">
                <img id="u48_img" class="img " src="images/1_首页/u48.svg"/>
                <div id="u48_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u49" class="ax_default paragraph">
                <div id="u49_div" class=""></div>
                <div id="u49_text" class="text ">
                  <p><span>67</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u50" class="ax_default" data-left="683" data-top="507" data-width="58" data-height="20">

              <!-- Unnamed (Shape) -->
              <div id="u51" class="ax_default icon">
                <img id="u51_img" class="img " src="images/1_首页/u51.svg"/>
                <div id="u51_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u52" class="ax_default paragraph">
                <div id="u52_div" class=""></div>
                <div id="u52_text" class="text ">
                  <p><span>100</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Trend3 (Group) -->
        <div id="u53" class="ax_default" data-label="Trend3" data-left="40" data-top="564" data-width="470" data-height="186">

          <!-- Unnamed (Group) -->
          <div id="u54" class="ax_default" data-left="40" data-top="564" data-width="470" data-height="186">

            <!-- Unnamed (Group) -->
            <div id="u55" class="ax_default" data-left="40" data-top="564" data-width="470" data-height="186">

              <!-- Unnamed (Rectangle) -->
              <div id="u56" class="ax_default shape">
                <div id="u56_div" class=""></div>
                <div id="u56_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u57" class="ax_default paragraph">
                <div id="u57_div" class=""></div>
                <div id="u57_text" class="text ">
                  <p><span>梦到追杀一条鳄鱼</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u58" class="ax_default paragraph">
                <div id="u58_div" class=""></div>
                <div id="u58_text" class="text ">
                  <p><span>这是x年x月x日的故事，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，...</span></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u59" class="ax_default" data-left="60" data-top="707" data-width="261" data-height="22">

                <!-- Unnamed (Group) -->
                <div id="u60" class="ax_default" data-left="60" data-top="710" data-width="64" data-height="18">

                  <!-- Unnamed (Shape) -->
                  <div id="u61" class="ax_default icon">
                    <img id="u61_img" class="img " src="images/1_首页/u42.svg"/>
                    <div id="u61_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u62" class="ax_default paragraph">
                    <div id="u62_div" class=""></div>
                    <div id="u62_text" class="text ">
                      <p><span>999+</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u63" class="ax_default" data-left="133" data-top="707" data-width="61" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u64" class="ax_default icon">
                    <img id="u64_img" class="img " src="images/1_首页/u45.svg"/>
                    <div id="u64_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u65" class="ax_default paragraph">
                    <div id="u65_div" class=""></div>
                    <div id="u65_text" class="text ">
                      <p><span>280</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u66" class="ax_default" data-left="261" data-top="708" data-width="60" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u67" class="ax_default icon">
                    <img id="u67_img" class="img " src="images/1_首页/u48.svg"/>
                    <div id="u67_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u68" class="ax_default paragraph">
                    <div id="u68_div" class=""></div>
                    <div id="u68_text" class="text ">
                      <p><span>67</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u69" class="ax_default" data-left="198" data-top="708" data-width="58" data-height="20">

                  <!-- Unnamed (Shape) -->
                  <div id="u70" class="ax_default icon">
                    <img id="u70_img" class="img " src="images/1_首页/u51.svg"/>
                    <div id="u70_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u71" class="ax_default paragraph">
                    <div id="u71_div" class=""></div>
                    <div id="u71_text" class="text ">
                      <p><span>100</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Trend4 (Group) -->
        <div id="u72" class="ax_default" data-label="Trend4" data-left="525" data-top="564" data-width="470" data-height="186">

          <!-- Unnamed (Group) -->
          <div id="u73" class="ax_default" data-left="525" data-top="564" data-width="470" data-height="186">

            <!-- Unnamed (Group) -->
            <div id="u74" class="ax_default" data-left="525" data-top="564" data-width="470" data-height="186">

              <!-- Unnamed (Rectangle) -->
              <div id="u75" class="ax_default shape">
                <div id="u75_div" class=""></div>
                <div id="u75_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u76" class="ax_default paragraph">
                <div id="u76_div" class=""></div>
                <div id="u76_text" class="text ">
                  <p><span>梦到追杀一条鳄鱼</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u77" class="ax_default paragraph">
                <div id="u77_div" class=""></div>
                <div id="u77_text" class="text ">
                  <p><span>这是x年x月x日的故事，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，...</span></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u78" class="ax_default" data-left="545" data-top="707" data-width="261" data-height="22">

                <!-- Unnamed (Group) -->
                <div id="u79" class="ax_default" data-left="545" data-top="710" data-width="64" data-height="18">

                  <!-- Unnamed (Shape) -->
                  <div id="u80" class="ax_default icon">
                    <img id="u80_img" class="img " src="images/1_首页/u42.svg"/>
                    <div id="u80_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u81" class="ax_default paragraph">
                    <div id="u81_div" class=""></div>
                    <div id="u81_text" class="text ">
                      <p><span>999+</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u82" class="ax_default" data-left="618" data-top="707" data-width="61" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u83" class="ax_default icon">
                    <img id="u83_img" class="img " src="images/1_首页/u45.svg"/>
                    <div id="u83_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u84" class="ax_default paragraph">
                    <div id="u84_div" class=""></div>
                    <div id="u84_text" class="text ">
                      <p><span>280</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u85" class="ax_default" data-left="746" data-top="708" data-width="60" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u86" class="ax_default icon">
                    <img id="u86_img" class="img " src="images/1_首页/u48.svg"/>
                    <div id="u86_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u87" class="ax_default paragraph">
                    <div id="u87_div" class=""></div>
                    <div id="u87_text" class="text ">
                      <p><span>67</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u88" class="ax_default" data-left="683" data-top="708" data-width="58" data-height="20">

                  <!-- Unnamed (Shape) -->
                  <div id="u89" class="ax_default icon">
                    <img id="u89_img" class="img " src="images/1_首页/u51.svg"/>
                    <div id="u89_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u90" class="ax_default paragraph">
                    <div id="u90_div" class=""></div>
                    <div id="u90_text" class="text ">
                      <p><span>100</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u91" class="ax_default paragraph">
          <div id="u91_div" class=""></div>
          <div id="u91_text" class="text ">
            <p><span>|&nbsp; 查看全部</span></p>
          </div>
        </div>

        <!-- Trend1 (Group) -->
        <div id="u92" class="ax_default" data-label="Trend1" data-left="40" data-top="363" data-width="470" data-height="186">

          <!-- Unnamed (Group) -->
          <div id="u93" class="ax_default" data-left="40" data-top="363" data-width="470" data-height="186">

            <!-- Unnamed (Group) -->
            <div id="u94" class="ax_default" data-left="40" data-top="363" data-width="470" data-height="186">

              <!-- Unnamed (Rectangle) -->
              <div id="u95" class="ax_default shape">
                <div id="u95_div" class=""></div>
                <div id="u95_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u96" class="ax_default paragraph">
                <div id="u96_div" class=""></div>
                <div id="u96_text" class="text ">
                  <p><span>梦到追杀一条鳄鱼</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u97" class="ax_default paragraph">
                <div id="u97_div" class=""></div>
                <div id="u97_text" class="text ">
                  <p><span>这是x年x月x日的故事，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，梦的内容，这里是梦的内容，...</span></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u98" class="ax_default" data-left="60" data-top="506" data-width="261" data-height="22">

                <!-- Unnamed (Group) -->
                <div id="u99" class="ax_default" data-left="60" data-top="509" data-width="64" data-height="18">

                  <!-- Unnamed (Shape) -->
                  <div id="u100" class="ax_default icon">
                    <img id="u100_img" class="img " src="images/1_首页/u42.svg"/>
                    <div id="u100_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u101" class="ax_default paragraph">
                    <div id="u101_div" class=""></div>
                    <div id="u101_text" class="text ">
                      <p><span>999+</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u102" class="ax_default" data-left="133" data-top="506" data-width="61" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u103" class="ax_default icon">
                    <img id="u103_img" class="img " src="images/1_首页/u45.svg"/>
                    <div id="u103_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u104" class="ax_default paragraph">
                    <div id="u104_div" class=""></div>
                    <div id="u104_text" class="text ">
                      <p><span>280</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u105" class="ax_default" data-left="261" data-top="507" data-width="60" data-height="21">

                  <!-- Unnamed (Shape) -->
                  <div id="u106" class="ax_default icon">
                    <img id="u106_img" class="img " src="images/1_首页/u48.svg"/>
                    <div id="u106_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u107" class="ax_default paragraph">
                    <div id="u107_div" class=""></div>
                    <div id="u107_text" class="text ">
                      <p><span>67</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (Group) -->
                <div id="u108" class="ax_default" data-left="198" data-top="507" data-width="58" data-height="20">

                  <!-- Unnamed (Shape) -->
                  <div id="u109" class="ax_default icon">
                    <img id="u109_img" class="img " src="images/1_首页/u51.svg"/>
                    <div id="u109_text" class="text " style="display:none; visibility: hidden">
                      <p></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u110" class="ax_default paragraph">
                    <div id="u110_div" class=""></div>
                    <div id="u110_text" class="text ">
                      <p><span>100</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{%- endmacro %}