<!-- This is the component collection file.
All components should be written in this file in either of the following styles.

Macro (with arguments):

    {% macro newComponent(arg) -%}
      <div class='container'><p>{{arg}}</p></div>
    {%- endmacro %}

Call with

    {{ newComponent('arg value') }}

or Variable (without arguments):

    {% set newComponent %}
      <div class="container"></div>
    {% endset %}

Call with

    {{ newComponent }}

-Refer to https://stackoverflow.com/questions/15106741/parameterized-reusable-blocks-with-jinja2-flask-templating-engine
and https://www.cnblogs.com/xiaxiaoxu/p/10428508.html
-->

{% macro topBar(userId) -%}
  <div class="top-bar">
    <img src="/static/logo.png" alt="logo" />
    <a href="/rand/dream">随机梦境</a>
    <a href="/rand/fan-art">随机二创</a>
    {{ searchBar }} <!-- TODO -->
    <a href="/new/dream">创建梦境</a>
    {{ userIcon(userId) }} <!-- TODO -->
  </div>
{%- endmacro %}

{% macro gridDisplay(data, title) -%}
  <div>
    <div class="grid-display-header">
      <span>{{ title }}</span><span>|&nbsp; 查看全部</span>
    </div>
    <div class="grid-display-body">
      {% for individual_data in data %} <!-- Display detail -->
        {{ displayCard(individual_data) }} <!-- FIXME: Should have two macros for dream and fanarts. 可以封装一下？ -->
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro displayCard(item) -%}
<div id="{{item.type}}-{{item.id_}}" class="display-card">
  <!-- 标题 -->
  <div class="display-card-title">

    {% if item.type == "FanArt" -%}
      <!-- 原作作者id -->
      <div class="display-card-original-author">
        <img class="icon original-author-icon" src="/static/imgs/icons/author.png"/>
        <span>{{ item.father_dream_author.name }}</span>
      </div>
    {%- endif %}

    <p>{{ item.title }}</p>

  </div>

  <!-- 简介 -->
  <div class="display-card-summary">
    <p>{{ item.default_summary }}</p>
  </div>

  <!-- 社区数据 -->
  <div class="display-card-numbers">

    <!-- 阅读量 -->
    <div class="display-card-views">
      <img class="icon views-icon" src="/static/imgs/icons/views.png"/>
      <span>{{ item.views }}</span>
    </div>

    <!-- 点赞量 -->
    <div class="display-card-likes">
      <img class="icon likes-icon" src="/static/imgs/icons/likes.png"/>
      <span>{{ item.likes }}</span>
    </div>

    <!-- 评论数 -->
    <div class="display-card-comments">
      <img class="icon comments-icon " src="/static/imgs/icons/comments.png"/>
      <span>{{ item.comments|length }}</span>
    </div>
    
    {% if item.type == "Dream" -%}
    <!-- 二创数 -->
    <div class="display-card-fanarts">
      <img class="icon fanarts-icon" src="/static/imgs/icons/fanarts.png"/>
      <span>{{ item.num_fan_arts }}</span>
    </div>
    {%- endif %}
    
  </div>

</div>
{%- endmacro %}

{% set footer %}
<div class="footer">
  <span>Dream Index 2021</span>
</div>
{% endset %}