<!--
    Arguments:
        form - FlaskForm instance of the signup form.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>注册Dream Index账号</title>
        <link href="{{ url_for('static',filename='css/signup.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ url_for('static',filename='css/global.css') }}" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        {% import 'components.html' as components %}
        {{ components.topBar(user) }}

        <div class="page-content">
            <div class="signup-box">
                <div class="signup-title">
                    注册新的账号
                </div>

                <form method="POST" action="/signup">
                    {{ form.csrf_token }}

                    <!-- Todo -->
                </form>
            </div>
        </div>

        {{ components.footer }}
    </body>
</html>