/* so the window resize fires within a frame in IE7 */
html, body {
    height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #0099CC;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #7F7F7F;
  color: white;
  height: 100px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  max-width: 1024px;
  margin: auto;
  padding-top: 75px;
}

/* UI Styles */

.primary-button {
  background-color: #0099CC;
  border-radius: 30px;
  padding: 6px 15px;
  color: white;
  margin: auto;
  transition: 0.1s;
}

.primary-button:hover {
  background-color: #006180;
  text-decoration: none;
  transition: 0.1s;
}

.inline-button {
  background-color: transparent;
  display: inline-block;
}

.inline-button:hover {
  text-decoration: none;
  background-color: gray;
  color: white;
  transition: 0.1s;
}

/* Topbar content */

.top-bar-region {
  width: 100%;
  height: 75px;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: 1px solid gray;
}

.top-bar-wrapper {
  max-width: 1024px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
}

.top-bar-left {
  justify-self: flex-start;
  width: 30%;
  justify-content: space-between;
  display: flex;
}

.top-bar-middle {
  justify-self: center;
}

.top-bar-right {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%
}

.user-menu {
  width: 150px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-menu a {
  width: 150px;
}

.user-menu-dropdown {
  visibility: hidden;
  display: none;
  z-index: 1;
  background-color: white;
  border: 1px solid gray;
  min-width: 150px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-self: flex-end;
  margin-top: 10px;
}

.user-menu:hover > .user-menu-dropdown,
.user-menu:focus-within > .user-menu-dropdown {
  visibility: visible;
  display: initial;
  position: relative;
  opacity: 100%;
}

.user-menu:hover {
  margin-top: 240px;
}

.dropdown-menu-avatar-row, .dropdown-menu-row {
  height: 30px;
  width: 150px;
  margin: 7.5px auto 7.5px auto;
}

.dropdown-menu-avatar-row {
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}
