/* so the window resize fires within a frame in IE7 */
html, body {
    height: 100%;
}

body {
  font-size: 18px;
}

.footer {
  background-color: #7F7F7F;
  color: white;
  height: 100px;
  text-align: center;
  width: 100%;
}

/* textarea, select, input, button { outline: none; }
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:58px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
} */